@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(https://fonts.gstatic.com/s/varelaround/v11/w8gdH283Tvk__Lua32TysjIfp8uK.ttf) format('truetype');
}
@font-face {
  font-family: 'lucida_granderegular';
  src: url('../fonts/lucida-grande/lucidagrande-webfont.woff2') format('woff2'), url('../fonts/lucida-grande/lucidagrande-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'lucida_grandebold';
  src: url('../fonts/lucida-grande/lucidagrandebold-webfont.woff2') format('woff2'), url('../fonts/lucida-grande/lucidagrandebold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
  width: 100%;
  background: rgba(246, 149, 14, 0.05);
  font-family: 'lucida_granderegular', sans-serif;
}
h2 {
  font-size: 2rem;
}
.navbar {
  width: 100%;
  height: 60px;
  padding: 0 1.6rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: white;
  font-family: 'lucida_granderegular', sans-serif;
  background: rgba(6, 58, 101, 0.6);
  position: absolute;
  top: 0;
  left: 0;
}
.navbar .navbar__logo {
  margin-right: auto;
  font-size: 2.6rem;
}
.navbar .navbar__links {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.navbar .navbar__links .navbar__link {
  font-size: 1.6rem;
  text-decoration: none;
  color: white;
}
#landing {
  height: 100%;
}
#landing .landing__image {
  height: 55%;
  background: url(../images/landing.png);
  background-size: cover;
  background-position: 0% 70%;
}
#landing .landing__description {
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.6rem;
  text-align: center;
}
#landing .landing__description .landing__description-text {
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 2rem;
}
#landing .landing__description .landing__description-text .landing__description-heading {
  line-height: 3.5rem;
  font-family: 'lucida_grandebold', sans-serif;
  font-weight: 600;
  color: rgba(70, 70, 70, 0.9);
}
#landing .landing__description .landing__description-text .landing__description-p {
  font-size: 1.8rem;
  line-height: 2.5rem;
  padding: 0 2.4rem;
  margin: 2rem 0;
  color: black;
}
#features {
  position: relative;
}
#features .feature {
  height: 420px;
  position: relative;
}
#features .feature .feature__heading {
  background: rgba(6, 58, 101, 0.3);
  color: white;
  height: 13%;
  width: 100%;
  position: absolute;
  padding-left: 2.4rem;
  font-size: 2.8rem;
  font-family: 'lucida_grandebold', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#features .feature .feature__img {
  height: 63%;
}
#features .feature .read-img {
  background: url(../images/read.png);
  background-size: cover;
  background-position: center;
}
#features .feature .write-img {
  background: url(../images/write.png);
  background-size: cover;
  background-position: center;
}
#features .feature .connect-img {
  background: url(../images/connect.png);
  background-size: cover;
  background-position: center;
}
#features .feature .feature__description {
  height: 37%;
  color: white;
  font-size: 1.7rem;
  letter-spacing: 1px;
  text-align: center;
  background: #095695;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'lucida_granderegular', sans-serif;
  padding: 0 7%;
  line-height: 2.3rem;
}
#features .feature__separate {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#features .feature__separate hr {
  width: 85%;
  border-color: #464646;
}
#product-reviews {
  position: relative;
  width: 100%;
  margin: 0 auto;
  font-family: 'lucida_granderegular', sans-serif;
}
#product-reviews .product-reviews__heading {
  font-family: 'lucida_grandebold', sans-serif;
  color: #464646;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  font-size: 2.6rem;
}
#product-reviews .product-review {
  padding: 2rem;
  position: relative;
}
#product-reviews .product-review .product-review__header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 50%;
  height: 100px;
  margin-left: auto;
  margin-right: 1.6rem;
  text-align: left;
  border-bottom: 2px solid rgba(70, 70, 70, 0.9);
}
#product-reviews .product-review .product-review__header .product-review__image {
  position: absolute;
  left: 2.4rem;
  top: 2.4rem;
}
#product-reviews .product-review .product-review__header .product-review__name {
  font-size: 2.6rem;
}
#product-reviews .product-review .product-review__header .product-review__subtitle {
  font-size: 1.6rem;
  margin: 1.6rem 0;
  color: rgba(70, 70, 70, 0.9);
}
#product-reviews .product-review .product-review__description {
  height: 60%;
  padding: 1.5rem;
  font-size: 1.7rem;
  font-family: 'lucida_granderegular', sans-serif;
  line-height: 2rem;
  color: #095695;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 2.8rem;
}
#product-reviews .product-reviews__container {
  border-left: 2px solid #F6950E;
  margin-left: 2.5rem;
}
