@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(https://fonts.gstatic.com/s/varelaround/v11/w8gdH283Tvk__Lua32TysjIfp8uK.ttf) format('truetype');
}
@font-face {
  font-family: 'lucida_granderegular';
  src: url('../fonts/lucida-grande/lucidagrande-webfont.woff2') format('woff2'), url('../fonts/lucida-grande/lucidagrande-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'lucida_grandebold';
  src: url('../fonts/lucida-grande/lucidagrandebold-webfont.woff2') format('woff2'), url('../fonts/lucida-grande/lucidagrandebold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.info-description {
  color: white;
  font-size: 1.7rem;
  letter-spacing: 1px;
  text-align: center;
  background: #095695;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'lucida_granderegular', sans-serif;
  padding: 0 7%;
  line-height: 2.3rem;
}
@media (min-width: 992px) {
  .info-description {
    font-size: 1.5rem;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: 'lucida_granderegular', sans-serif;
}
body {
  background: rgba(246, 149, 14, 0.05);
}
h2 {
  font-size: 2rem;
  font-family: 'lucida_grandebold', sans-serif;
  color: #464646;
}
@media (min-width: 992px) {
  h2 {
    font-size: 3.4rem;
  }
}
.cta__button {
  font-size: 2.2rem;
  background: #F6950E;
  color: white;
  margin-bottom: 2.5rem;
  border: none;
  border-radius: 7px;
  padding: 1.2rem 1.6rem;
}
.separate {
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.separate hr {
  width: 85%;
  border-color: #464646;
}
.separate-60 {
  height: 60px;
}
.navbar {
  width: 100%;
  height: 60px;
  padding: 0 1.6rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: white;
  font-family: 'lucida_granderegular', sans-serif;
  background-image: linear-gradient(rgba(6, 58, 101, 0.9), rgba(0, 0, 0, 0));
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
}
@media (min-width: 992px) {
  .navbar {
    padding: 0 3.2rem;
    height: 70px;
  }
}
.navbar .navbar__logo {
  margin-right: auto;
  font-size: 2.6rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
}
@media (min-width: 992px) {
  .navbar .navbar__logo {
    font-size: 3rem;
  }
}
.navbar .navbar__links {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@media (min-width: 992px) {
  .navbar .navbar__links {
    width: 45%;
  }
}
.navbar .navbar__links .navbar__link {
  font-size: 1.6rem;
  text-decoration: none;
  color: white;
}
@media (min-width: 992px) {
  .navbar .navbar__links .navbar__link {
    font-size: 1.8rem;
  }
}
#landing {
  height: 100%;
}
@media (min-width: 992px) {
  #landing {
    height: 130%;
  }
}
#landing .landing__image {
  height: 55%;
  background: url(../images/Ladyinblue1.jpg);
  background-size: cover;
  background-position: bottom;
  position: relative;
}
@media (min-width: 992px) {
  #landing .landing__image {
    height: 65%;
    background-position: 0 35%;
  }
}
#landing .landing__image .landing__image-text {
  position: absolute;
  top: 40%;
  left: 4%;
  color: white;
  width: 50%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
}
@media (min-width: 992px) {
  #landing .landing__image .landing__image-text {
    width: 30%;
    left: 2%;
  }
}
#landing .landing__image .landing__image-text .landing__image-heading {
  font-size: 2.9rem;
  line-height: 3.5rem;
  font-family: 'lucida_grandebold', sans-serif;
}
@media (min-width: 992px) {
  #landing .landing__image .landing__image-text .landing__image-heading {
    font-size: 4.3rem;
    line-height: 5rem;
  }
}
#landing .landing__image .landing__image-text .landing__image-subtitle {
  font-size: 1.7rem;
  line-height: 2.2rem;
  margin-top: 1.5rem;
}
@media (min-width: 992px) {
  #landing .landing__image .landing__image-text .landing__image-subtitle {
    font-size: 2.2rem;
    line-height: 2.8rem;
  }
}
#landing .landing__image .cta__button {
  position: absolute;
  bottom: 8%;
  right: 12%;
  padding: 1rem 1.4rem;
  border-radius: 10px;
  z-index: 50;
}
@media (min-width: 992px) {
  #landing .landing__image .cta__button {
    padding: 1.5rem 3.2rem;
    font-size: 3rem;
    right: 15%;
    bottom: 10%;
  }
}
#landing .landing__description {
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.6rem;
  text-align: center;
}
@media (min-width: 992px) {
  #landing .landing__description {
    height: 35%;
    padding: 2.4rem;
  }
}
#landing .landing__description .landing__description-text {
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 2rem;
}
@media (min-width: 992px) {
  #landing .landing__description .landing__description-text {
    width: 85%;
  }
}
#landing .landing__description .landing__description-text .landing__description-heading {
  line-height: 3.5rem;
  font-family: 'lucida_grandebold', sans-serif;
  font-weight: 600;
  color: rgba(70, 70, 70, 0.9);
}
@media (min-width: 992px) {
  #landing .landing__description .landing__description-text .landing__description-heading {
    width: 90%;
    line-height: 5rem;
  }
}
#landing .landing__description .landing__description-text .landing__description-p {
  font-size: 1.8rem;
  line-height: 2.5rem;
  padding: 0 2.4rem;
  margin: 2rem 0;
  color: black;
}
@media (min-width: 992px) {
  #landing .landing__description .landing__description-text .landing__description-p {
    font-size: 2.5rem;
    width: 90%;
    line-height: 3.2rem;
  }
}
#features {
  position: relative;
}
#features h2 {
  display: none;
}
@media (min-width: 992px) {
  #features h2 {
    display: block;
    align-self: flex-start;
    margin-bottom: 3.5rem;
    color: rgba(70, 70, 70, 0.9);
  }
}
@media (min-width: 992px) {
  #features {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 5%;
  }
}
@media (min-width: 992px) {
  #features .features__container-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60%;
    margin-bottom: 1.5rem;
  }
}
#features .feature {
  height: 420px;
  position: relative;
}
@media (min-width: 992px) {
  #features .feature {
    height: 360px;
    width: 30%;
  }
}
#features .feature .feature__heading {
  background-image: linear-gradient(rgba(6, 58, 101, 0.9), rgba(0, 0, 0, 0));
  color: white;
  height: 13%;
  width: 100%;
  position: absolute;
  padding-left: 1.5rem;
  font-size: 2.8rem;
  font-family: 'lucida_grandebold', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 992px) {
  #features .feature .feature__heading {
    font-size: 2.5rem;
  }
}
#features .feature .feature__img {
  height: 63%;
}
#features .feature .read-img {
  background: url(../images/read.jpg);
  background-size: cover;
}
#features .feature .write-img {
  background: url(../images/write.jpg);
  background-size: cover;
  background-position: center;
}
#features .feature .connect-img {
  background: url(../images/connect.jpg);
  background-size: cover;
  background-position: center;
}
#features .feature .feature__description {
  height: 37%;
  color: white;
  font-size: 1.7rem;
  letter-spacing: 1px;
  text-align: center;
  background: #095695;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'lucida_granderegular', sans-serif;
  padding: 0 7%;
  line-height: 2.3rem;
}
@media (min-width: 992px) {
  #features .feature .feature__description {
    font-size: 1.5rem;
  }
}
#product-reviews {
  position: relative;
  width: 100%;
  margin: 0 auto;
  font-family: 'lucida_granderegular', sans-serif;
}
#product-reviews .product-reviews__heading {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 3rem;
}
@media (min-width: 992px) {
  #product-reviews .product-reviews__heading {
    margin-left: 5%;
  }
}
#product-reviews .product-review {
  padding: 2rem;
  position: relative;
}
@media (min-width: 992px) {
  #product-reviews .product-review {
    width: 30%;
    padding: 0;
  }
}
#product-reviews .product-review .product-review__header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 50%;
  height: 100px;
  margin-left: auto;
  margin-right: 1.6rem;
  text-align: left;
  border-bottom: 2px solid rgba(70, 70, 70, 0.9);
}
@media (min-width: 992px) {
  #product-reviews .product-review .product-review__header {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
#product-reviews .product-review .product-review__header .product-review__image {
  position: absolute;
  left: 2.4rem;
  top: 2.4rem;
}
@media (min-width: 992px) {
  #product-reviews .product-review .product-review__header .product-review__image {
    left: 0.5rem;
    top: 0;
  }
}
#product-reviews .product-review .product-review__header .product-review__name {
  font-size: 2.6rem;
}
#product-reviews .product-review .product-review__header .product-review__subtitle {
  font-size: 1.6rem;
  margin: 1.6rem 0;
  color: rgba(70, 70, 70, 0.9);
}
@media (min-width: 992px) {
  #product-reviews .product-review .product-review__header .product-review__subtitle {
    font-size: 1.5rem;
  }
}
#product-reviews .product-review .product-review__description {
  height: 60%;
  padding: 1.5rem;
  font-size: 1.7rem;
  font-family: 'lucida_granderegular', sans-serif;
  line-height: 2rem;
  color: #095695;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 2.8rem;
}
#product-reviews .product-reviews__container {
  border-left: 2px solid #F6950E;
  margin-left: 2.5rem;
}
@media (min-width: 992px) {
  #product-reviews .product-reviews__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: none;
    margin: 0 auto;
    width: 90%;
  }
}
#signUp-cta {
  height: 190px;
  color: white;
  font-size: 1.7rem;
  letter-spacing: 1px;
  text-align: center;
  background: #095695;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'lucida_granderegular', sans-serif;
  padding: 0 7%;
  line-height: 2.3rem;
}
@media (min-width: 992px) {
  #signUp-cta {
    font-size: 1.5rem;
  }
}
@media (min-width: 992px) {
  #signUp-cta {
    height: 220px;
  }
  #signUp-cta .cta__button {
    font-size: 2.8rem;
    padding: 1rem 2rem;
  }
}
#signUp-cta p {
  margin-bottom: auto;
  margin-top: 3.5rem;
}
@media (min-width: 992px) {
  #signUp-cta p {
    font-size: 3rem;
    width: 80%;
    line-height: 3.7rem;
  }
}
#footer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#footer .footer-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media (min-width: 992px) {
  #footer .footer-left {
    width: 30%;
  }
}
#footer .footer-left .footer__icons {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#footer .footer-left .footer__icons i {
  font-size: 2.6rem;
  color: black;
}
@media (min-width: 992px) {
  #footer .footer-left .footer__icons i {
    font-size: 4rem;
  }
}
#footer .footer-left .footer__copyright {
  font-size: 1.6rem;
  margin: 1.5rem 0;
  color: rgba(70, 70, 70, 0.9);
}
@media (min-width: 992px) {
  #footer .footer-left .footer__copyright {
    margin: 2.5rem 0;
  }
}
#footer .footer-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
@media (min-width: 992px) {
  #footer .footer-right {
    margin-left: auto;
  }
}
#footer .footer-right a {
  color: rgba(70, 70, 70, 0.9);
  text-decoration: none;
  font-size: 1.6rem;
}
#footer .footer-right .privacy-policy {
  margin: 1rem 0;
}
@media (min-width: 992px) {
  #footer .footer-right .privacy-policy {
    margin: 2rem 0;
  }
}
