.about__navbar {
    position: fixed;
    width: 100%;
    color: white;
    top: 0;
    background: @navy-blue;

    .navbar__logo {
        color: white;
        text-decoration: none;
    }
}
#about {
    margin: 0 auto;
    margin-top: 80px;
    width: 85%;

    @media @tablet {
        width: 80%;
    }

    .about__heading {
        font-family: @font-bold;
        font-size: 2.5rem;
        padding: 2.8rem 0;
        color: @light-blue;

        @media @tablet {
            font-size: 3.5rem;
        }
    }

    .about__buttons {
        .displayFlex(row, space-between);
        width: 100%;
        flex-wrap: wrap;
    }

    .about__button {
        width: 30%;
        height: 45px;
        text-transform: uppercase;
        .displayFlex();
        font-family: @main-font;
        padding: 0 1rem;
        color: white;
        background: @navy-blue;
        margin: 1rem 0;
        border: none;
        border-radius: 5px;
        transition: background 250ms ease-out;

        &:hover {
            cursor: pointer;
            background: @light-blue;
        }
    }

    #about__team {
        margin-top: 2.5rem;

        @media @tablet {
            margin-top: 8rem;
        }

        .about__member {
            position: relative;
            margin: 3rem 0;
            // .displayFlex();

            .about__content {
                .displayFlex(column, center, flex-start);
                border-left: 2px solid @orange;
                padding-left: 2.5rem;
            }

            .about__info {
                padding-bottom: 1.3rem;
                border-bottom: 2px solid @text-light-gray;
                width: 100%;
                position: relative;
                .displayFlex();

                @media @tablet {
                    width: 70%;
                }

                .about__info-text {
                    margin-right: auto;
                }
            }

            .about__name {
                font-size: 1.8rem;

                @media @tablet {
                    font-size: 2.4rem;
                }
            }

            .about__job {
                font-size: 1.5rem;
                font-style: italic;
                margin: 1rem 0;
                padding-top: 1rem;

                @media @tablet {
                    font-size: 2rem;
                    margin: 1.5rem 0;
                }
            }
            .about__image {
                height: 90px;
                width: 90px;
                margin-right: 1.5rem;
                border-radius: 50%;
                background-size: cover;
                background-position: center;

                @media @tablet {
                    width: 160px;
                    height: 160px;
                    // margin: 0 auto;
                    // position: absolute;
                    margin-right: auto;
                }

                @media @desktop {
                    width: 150px;
                    height: 150px;
                    right: -10%;
                    bottom: -25%;
                }
                
            }

            .about__personal {
                height: 100px;
                .displayFlex(row, flex-start);
                margin: 2rem 0;

                @media @tablet {
                    height: 130px;
                }

                @media @desktop {
                    width: 80%;
                    height: 150px;
                    margin-top: 3.5rem;
                }

                .about__text {
                    width: 60%;
                    font-size: 1.2rem;
                    line-height: 1.6rem;
                    width: 100%;

                    @media @tablet {
                        margin-bottom: 3.5rem;
                        font-size: 1.5rem;
                        line-height: 2rem;
                    }

                    @media @desktop {
                        font-size: 1.8rem;
                        line-height: 2.4rem;
                    }
                }

            }
        }
    }
}

.nick-img {
    background: url(../images/nick.jpg);
}

.colin-img {
    background: url(../images/colin-devries.jpeg);
}

.timui-img {
    background: url(../images/tim2.jpg);
}

.lauren-img {
    background: url(../images/lauren.jpg);
}

.timfe-img {
    background: url(../images/tim1.jpg);
}

.sunil-img {
    background: url(../images/sunil.png);
}

.arron-img {
    background: url(../images/arron.jpg);
}

.yakuana-img {
    background: url(../images/yakuana.jpg);
}

.active {
    display: block;
}

.hide {
    display: none;
}