.about__navbar {
    position: fixed;
    width: 100%;
    color: white;
    top: 0;
    background: @navy-blue;

    .navbar__logo {
        color: white;
        text-decoration: none;
    }
}
#about {
    margin: 0 auto;
    margin-top: 80px;
    width: 85%;

    @media @tablet {
        width: 80%;
    }

    .about__heading {
        font-family: @font-bold;
        font-size: 2.5rem;
        padding: 2.8rem 0;
        color: @light-blue;

        @media @tablet {
            font-size: 3.5rem;
        }
    }

    .about__buttons {
        .displayFlex(row, space-between);
        width: 100%;
        flex-wrap: wrap;
    }

    .about__button {
        width: 30%;
        height: 45px;
        text-transform: uppercase;
        .displayFlex();
        font-family: @main-font;
        padding: 0 1rem;
        color: white;
        background: @navy-blue;
        margin: 1rem 0;
        border: none;
        border-radius: 5px;
        transition: background 250ms ease-out;

        &:hover {
            cursor: pointer;
            background: @light-blue;
        }
    }

    #about__team {
        margin-top: 2.5rem;

        @media @tablet {
            margin-top: 5rem;
        }

        .about__member {
            position: relative;
            margin: 3rem 0;

            .about__name {
                font-size: 1.8rem;

                @media @tablet {
                    font-size: 2.4rem;
                }
            }

            .about__job {
                font-size: 1.5rem;
                font-style: italic;
                margin: 1rem 0;

                @media @tablet {
                    font-size: 2rem;
                    margin: 1.5rem 0;
                }
            }

            .about__personal {
                height: 100px;
                .displayFlex(row, space-between);

                @media @tablet {
                    height: 130px;
                }

                @media @desktop {
                    height: 150px;
                }

                .about__text {
                    width: 60%;
                    font-size: 1.2rem;
                    line-height: 1.6rem;

                    @media @tablet {
                        margin-bottom: 3.5rem;
                        font-size: 1.5rem;
                        line-height: 2rem;
                    }

                    @media @desktop {
                        font-size: 1.8rem;
                        line-height: 2.4rem;
                    }
                }

                .about__image {
                    margin-right: 1rem;
                    height: 90px;
                    width: 90px;
                    border-radius: 7px;
                    background-size: cover;
                    background-position: center;

                    @media @tablet {
                        width: 130px;
                        height: 130px;
                        margin: 0 auto;
                        position: absolute;
                        right: 15%;
                        bottom: 25%;
                    }

                    @media @desktop {
                        width: 150px;
                        height: 150px;
                        right: 8%;
                    }
                    
                }
            }
        }
    }
}

.nick-img {
    background: url(../images/nick.jpg);
}

.colin-img {
    background: url(../images/colin-devries.jpeg);
}

.timui-img {
    background: url(../images/tim2.jpg);
}

.lauren-img {
    background: url(../images/lauren.jpg);
}

.timfe-img {
    background: url(../images/tim1.jpg);
}

.sunil-img {
    background: url(../images/sunil.png);
}

.arron-img {
    background: url(../images/arron.jpg);
}

.active {
    display: block;
}

.hide {
    display: none;
}