#footer {
    width: 100%;
    padding: 2.5rem 5%;
    .displayFlex(column);
    background: white;

    @media @tablet {
        // .displayFlex();
    }

    .footer__icons {
        width: 85%;
        margin-top: 2rem;
        .displayFlex(row, space-between);

        @media @tablet {
            width: 60%;
            margin-bottom: 1rem;
        }

        i {
            font-size: 4rem;
            color: @text-light-gray;

            @media @tablet {
                font-size: 3.5rem;
            }
        }
    }

    .footer__copyright {
        margin-bottom: auto;
        margin-top: 0.75rem;
    }

    .footer__info {
        width: 100%;
        .displayFlex(row, space-between);
        font-size: 1.9rem;

        .footer__info-links {
            .displayFlex(column);
            font-size: 1.6rem;

            a {
                text-decoration: none;
                color: @text-light-gray;
                margin: 0.75rem 0;
            }
        }
    }

}