#landing {
    height: 100%;

    .landing__image {
        height: 55%;
        background: url(../images/landing.jpg);
        background-size: cover;
        background-position: 0% 20%;
        position: relative;

        .landing__image-text {
            position: absolute;
            top: 40%;
            left: 4%;
            color: white;
            

            .landing__image-heading {
                font-size: 3rem;
                line-height: 3.5rem;
                font-family: @font-bold;
            }

            .landing__image-subtitle {
                font-size: 1.7rem;
                line-height: 2rem;
                margin-top: 1.5rem;
            }
        }

        .cta__button {
            position: absolute;
            bottom: 3%;
            right: 12%;
            padding: 1rem 1.4rem;
            border-radius: 10px;
        }
    }

    .landing__description {
        height: 45%;
        .displayFlex(column);
        padding: 1.6rem;
        text-align: center;

        .landing__description-text {
            height: 95%;
            .displayFlex(column);
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            padding-top: 2rem;
            
            .landing__description-heading {
                line-height: 3.5rem;
                font-family: @font-bold;
                font-weight: 600;
                color: @text-light-gray;
            }

            .landing__description-p {
                font-size: 1.8rem;
                line-height: 2.5rem;
                padding: 0 2.4rem;
                margin: 2rem 0;
                color: black;
            }
        }
    }
}