//Fonts
@main-font: 'lucida_granderegular', sans-serif;
@font-bold: 'lucida_grandebold', sans-serif;

//Colors
@navy-blue: #063A65;
@orange: #ff8533;
@orange-brown: #FF8533;
@dark-gray: #464646;

@bg-light: #fff8f3;
@text-light-gray: rgba(70, 70, 70, 0.9);
@light-blue: #37619b;

//Media Queries
@tablet: ~'(min-width: 600px)';
@desktop: ~'(min-width: 992px)';